span {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: white;
    font-size: 1.4rem;
};

title {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: white;
    font-size: 1.4rem;
}

h1 {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: white;
    text-align: center;
}

h2 {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: white;
    text-align: center;
}

h3 {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: white;
    text-align: center;
}

h4 {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: white;
    text-align: center;

}
