a{
    text-decoration: none;
}

/**
* CYTOSCAPE
**/

#cydyna {
    position:fixed;
    left:0px;
    top:64px;
    bottom:200px;
    right:0;
    box-sizing: border-box;
    display: block;
  }
  
  #cydyna canvas {
    z-index: -1 !important;
  }

  #filterProperty-wrapper{
    background-color: #455A64;
    z-index: 1000;
    position: fixed;
    width: 100%;
    bottom:0;
    padding-right: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #fff;
    box-sizing: border-box;
    display: block;
  }
  
  .checkButton{
    float:right;
  }
  
  .filter-row{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 60px;
  }
  
  .filter-row label{
    font-size: 14px;
    color: #fff;
  }
  
  .propertyCol-input{
    font-size: 14px;
    margin-bottom: 0px;
    height: 2.286em;
  }